@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* FONTS & COLORS --------------------------------*/
:root {
  --title-font: Raleway, sans-serif;
  --body-font: Raleway, sans-serif;

  --main-bg-color: #C5C1C0; /*Screen*/
  --secondary-bg-color: #0A1612; /*Steel*/
  --accent-color1: #1A2930; /*Denim*/
  --accent-color2: #F7CE3E; /*Marigold*/
  --title-text-color: #F7F7F7; /*Whitesmoke*/
  --body-text-color: #EFEFEF; /*Whitesmoke*/
}


/* BODY RULES --------------------------------*/
body {
  background-color: var(--main-bg-color);
  background-image: url('/images/coffeeShopDeveloper_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--body-text-color);
  font-family: var(--body-font);
}

a {
  color: var(--body-text-color);
  font-family: var(--body-font);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--title-text-color);
  font-family: var(--title-font);
}

p {
  color: var(--body-text-color);
  font-family: var(--body-font);
}

h1.display-1 {
  text-shadow: 2px 2px 5px var(--secondary-bg-color);
}


/* BADGES --------------------------------*/
.badge-default {
  background-color: var(--accent-color2);
}

.tags span.badge {
  margin-right:2px;
  font-size: 50%;
}


/* EVERYTHING ELSE --------------------------------*/
.aboutText {
  background-color: var(--secondary-bg-color);
  opacity: 0.8;
}

.bottomText {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer {
  background-color: var(--accent-color1);
}

.jumbotronImg {
  height: 85.6px;
  width: 85.6px;
  border: 3px double var(--accent-color1);
}

.navbar {
  background-color: var(--accent-color1);
  border-top: 3px double #F7F7F7;
  border-bottom: 3px double #F7F7F7;
  color: var(--title-text-color);
  font-family: var(--title-font);
}

.mdSpacer {
  height: 400px;
  margin: 0;
  padding: 0;
}

.smSpacer {
  height: 100px;
  margin: 0;
  padding: 0;
}
