@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");
@import url('https://fonts.googleapis.com/css?family=Raleway');


/* FONTS & COLORS --------------------------------*/
:root {
  --title-font: Raleway, sans-serif;
  --body-font: Raleway, sans-serif;

  --main-bg-color: #C5C1C0; /*Screen*/
  --secondary-bg-color: #0A1612; /*Steel*/
  --accent-color1: #1A2930; /*Denim*/
  --accent-color2: #F7CE3E; /*Marigold*/
  --title-text-color: #F7F7F7; /*Whitesmoke*/
  --body-text-color: #EFEFEF; /*Whitesmoke*/
}


/* BODY RULES --------------------------------*/
body {
  background-color: var(--main-bg-color);
  background-image: url('/images/coffeeShopDeveloper_Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--body-text-color);
  font-family: var(--body-font);
}

a {
  color: var(--body-text-color);
  font-family: var(--body-font);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--title-text-color);
  font-family: var(--title-font);
}

p {
  color: var(--body-text-color);
  font-family: var(--body-font);
}


/* BADGES --------------------------------*/
.badge-default {

  background-color: var(--accent-color2);
  border-color: var(--accent-color2);
  /*background-color: #ad1d28;
  border-color: #911821;*/
}
.tags span.badge {
  margin-right:2px;
  font-size: 75%;
}


/* CARDS --------------------------------*/
.card {
  height: 400px;
  width: 400px;

  background-color: var(--secondary-bg-color);
  border: none;
  border-radius: 5px;
  color: var(--body-text-color);
  font-family: var(--body-font);
  /*margin: 25px 25px 210px 25px;*/
  opacity: 0.8;
}

.card a {
  font-family: var(--body-font);
  color: var(--body-text-color);
}

.card-header {
  border: 1px groove var(--secondary-bg-color);
}

.accordion {
  background-color: inherit;
  width: inherit;
  height: inherit;
}

img.card-img-top {
  height: 300px;
  width: 400px;
}


/* EVERYTHING ELSE --------------------------------*/
.aboutText {
  background-color: var(--secondary-bg-color);
  opacity: 0.8;
}

.aboutTextDivider {
  border-top: 1px groove var(--secondary-bg-color);
}

.footer {
  background-color: var(--accent-color1);
}

.jumbotronImg {
  height: 85.6px;
  width: 85.6px;
  border: 3px double var(--accent-color1);
}

.mdSpacer {
  height: 400px;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--accent-color1);
  border-top: 3px double #F7F7F7;
  border-bottom: 3px double #F7F7F7;
  color: var(--title-text-color);
  font-family: var(--title-font);
}

.smSpacer {
  height: 100px;
  margin: 0;
  padding: 0;
}
