doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(lang='en', charset='utf-8')
    title= 'nbmoody.com'
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
      
  body
    // JUMBOTRON
    div.container-fluid.p-0.m-0
      div.jumbotron.jumbotron-fluid.px-2.py-1.m-0
        img.img-fluid.float-right.rounded-circle.jumbotronImg.my-0.mr-3(src='/images/headshot.jpg')
        h1.text-dark.m-1 N.B.Moody
        h3.text-dark.my-1.ml-3 Communicator | Explorer | Developer
    
    // NAVBAR
    div.container-fluid.p-0.m-0.sticky-top
      nav.navbar.navbar-expand-sm.navbar-dark.mb-2
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navBarCollapse')
          span.navbar-toggler-icon
        #navBarCollapse.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/portfolio') Portfolio
            li.nav-item
              a.nav-link(href='/about/') About
        button.btn.btn-outline-light.btn-sm
          a.nav-link(href='https://nathanielmoody.typeform.com/to/cRhvzU', target='_blank') Contact
            
    // MAIN BODY
    div.container-fluid
      block content
          
    // FOOTER
    div.container-fluid.footer.fixed-bottom
      p.text-right.m-0.p-0 &copy; Nathaniel B. Moody 2018
        
  // SCRIPTS
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
  script(src='/javascripts/bootstrap.min.js')
