extends layout

block content
  div.container-fluid
    h1.display-1.text-right Portfolio
    div.row.d-flex.justify-content-center
      div.col-12.col-lg-4
        div.aboutText.p-3.equalSize
          .lead.p-2 A good project begins with a good question...
          p "Web sites [and projects] most often fail because - before the first line of code was written, the first pixel was pushed, or the first server was installed - nobody bothered to answer two very basic questions:
            ul
              li What do we want to get out of this product?
              li What do our users want to get out of it?"
          p.pl-4 -Jesse James Garrett, The Elements of User Experience
      div.col-12.col-lg-4
        div.aboutText.p-3.equalSize
          .lead.p-2 A good question turns into an exploration...
          p "If you are unaware of all possible actions you could take, you may be unable to solve the problem... thinking about the problem may be as productive, or in some cases more productive, than thinking about the solution." - V. Anton Spraul, Think Like a Programmer
          p "At this point, we can refine our question or collect new data, all in an iterative process to get at the truth" - Roger Peng, The Art of Data Science
      div.col-12.col-lg-4
        div.aboutText.p-3.equalSize
          .lead.p-2 Good exploration leads to insight and action...
          p "Doing half of something is, essentially, doing nothing... Jobs that aren't done and products that aren't being used are two aspects of the same thing: invested effort with no positive outcome." - Jeff Sutherland, Scrum
          p "Do or do not, there is no try." - Yoda
  div.smSpacer
  each project in projects
    div.container-fluid
      div.row.aboutText.d-flex.justify-content-center.m-3
        div.col-sm-5
          img.img-fluid(src= project.imagePath, alt='Project Image')
        div.col-sm-7
          h3.mt-3.mb-5
            a(href= project.linkURL target='_blank')= project.title
            div.tags
              each tag in project.tags
                span.badge.badge-warning= tag
          h5 Summary
          p= project.summary
          p.bottomText
            a(href= project.linkURL target='_blank') (Go to this project's page...)
  div.smSpacer
