extends layout

block content
  div.container-fluid
    h1.display-1.text-right Portfolio
    div.row.d-flex.justify-content-center
      div.col-12.col-lg-4
        div.aboutText.p-3
          .lead A good project begin with a good question,
          p and Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna nisl, consectetur vel malesuada sit amet, consectetur sed velit. Etiam commodo, orci non egestas sagittis, quam velit efficitur sem, ut auctor tellus mauris at ligula. Donec pulvinar feugiat suscipit. Ut sollicitudin sem quis commodo semper.
      div.col-12.col-lg-4
        div.aboutText.p-3
          .lead A good question turns into an exploration,
          p and Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna nisl, consectetur vel malesuada sit amet, consectetur sed velit. Etiam commodo, orci non egestas sagittis, quam velit efficitur sem, ut auctor tellus mauris at ligula. Donec pulvinar feugiat suscipit. Ut sollicitudin sem quis commodo semper.
      div.col-12.col-lg-4
        div.aboutText.p-3
          .lead Good exploration yields insight,
          p and Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus urna nisl, consectetur vel malesuada sit amet, consectetur sed velit. Etiam commodo, orci non egestas sagittis, quam velit efficitur sem, ut auctor tellus mauris at ligula. Donec pulvinar feugiat suscipit. Ut sollicitudin sem quis commodo semper.
  div.smSpacer
  each project in projects
    div.container-fluid
      div.row.aboutText.d-flex.justify-content-center.m-3
        div.col-sm-5
          img.img-fluid(src= project.imagePath, alt='Project Image')
        div.col-sm-7
          #project1Accordion.accordion
            div.card
              div.card-header
                div.card-title
                  h3
                    a.card-link(data-toggle='collapse', href='#p1collapse1')= project.title
              #p1collapse1.collapse.show(data-parent='#project1Accordion')
                div.card-body
                  a(href= project.linkURL target='_blank') Go to this project's page...
                  div.tags
                    each tag in project.tags
                      span.badge.badge-warning= tag
              div.card-header
                a.card-link(data-toggle='collapse', href='#p1collapse2') Summary
              #p1collapse2.collapse(data-parent='#project1Accordion')
                div.card-body= project.summary
  div.smSpacer
