extends layout

block content
  .row-banner
    .col-12
      h1 Portfolio
      p.
        An ongoing collection of what I'm exploring, learning, and creating.
        I've ranked my own projects according to my own assessment, and feedback
        from colleagues/friends. Feel free to send along any constructive ideas
        from your perspective! 

        
  //TODO: Update hrefs here as actual projects are connected.
  .row.d-flex.justify-content-center.m-2
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 1
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Science
              span.badge.badge-warning Python
              span.badge.badge-warning Jupyter Notebook
              span.badge.badge-warning Github
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 2
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Science
              span.badge.badge-warning R
              span.badge.badge-warning Algorithms
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 3
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Visualization
              span.badge.badge-warning Data Science
              span.badge.badge-warning Python
              span.badge.badge-warning Plotly
  .row.d-flex.justify-content-center.m-2
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 4
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Science
              span.badge.badge-warning Python
              span.badge.badge-warning Jupyter Notebook
              span.badge.badge-warning Github
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 5
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Science
              span.badge.badge-warning R
              span.badge.badge-warning Algorithms
    .col-12.col-lg-4
      .card
        .card-block
          h4
            a(href='/') Project 6
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
          p.address https://www.url-here.com
            .facilities
              span.badge.badge-warning Data Visualization
              span.badge.badge-warning Data Science
              span.badge.badge-warning Python
              span.badge.badge-warning Plotly
      
