extends layout

block content
  div.container-fluid
    h1.display-1.text-right Welcome
    div.row.pt-1.mt-1
      div.col-12.col-lg-4
        h4.aboutText.m-0.p-1 Communicator
        p.aboutText.p-3 I'll confess from the beginning that I love words, and probably run the risk of over-thinking them a bit. There is a unique quality to words that allows them to fill the space between people. I can pass along my ideas, my care (or hostility), my experiences, and even my deepest desires or fears... all in words. Words are the ultimate data-structure: Fluid enough to serve as a reference for many different types, but constrained enough to be commonly understood. In all my work, I have consistently found myself turning to the capacities of words to enrich what a I create or parse the details of the challenge that needs to be addressed. Whether in problem-solving, or presentation, I aspire to be a solid communicator for the good of those around me.
      div.col-12.col-lg-4
        h4.aboutText.m-0.p-1 Explorer
        p.aboutText.p-3 Over the years, I've invested in several roles: Social Service Provider, Programmer/Developer, Counselor, Team Leader, and Public-speaker. The award for longest running "title" in my life would have to go to "Student." I love to learn. Way back in High School, I definitely coined the phrase “Never Stop Exploring” BEFORE The North Face got to it (but I’ll let them keep the credit, because they make some nice gear). While I would describe myself as a realist, I carry a deeply-ingrained desire to face every challenge as an opportunity and work every problem as a chance to learn. I believe in the impact that persistent, methodical, intentional effort can have for the good of an organization, a home, and a person, and this shows up in the way I love to systematically explore any topic.
      div.col-12.col-lg-4
        h4.aboutText.m-0.p-1 Developer
        p.aboutText.p-3 Development sits at the intersection of my investment in communication and my love for exploration. A task takes shape through a question or need, beginning as a rough collection of requirements and ideas to meet them. Articulating the work at hand with more precision means setting it to words that give it shape and boundaries. Inevitably, any progress toward completion requires exploration. Starting with what I already know, I always find myself reading documentation, running tutorials, and seeking experience of individuals who have faced something simmilar. Development, at it's heart, is a service. I'll always seek to clearly understand what is needed and learn the best way to fulfill it, project-by-project, person-by-person.


    
  
